installed
.ICEauthority
.Xauthority
.bazaar
.bzr.log
.lesshst
.xsession-errors
.xsession-errors.old
.bash_history
.cache/
.compiz-1/
.config/
.dbus/
.dmrc
.fontconfig/
.gconf/
.gem/
.gnome2/
.gtk-bookmarks
.local/
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.rbx/
.rubinius_last_error
.thumbnails/
.ssh
examples.desktop
foo
